In [1]:
nums = [1, 2, 4/5, 4/3, 5/3]
nums_squared = [num * num for num in nums]
print(nums_squared)

[1, 4, 0.6400000000000001, 1.7777777777777777, 2.777777777777778]

In [11]:
def square_fn(x):
    return x * x

square_ld = lambda x: x * x

print(square_fn(2))

for i in range(10):
    assert square_fn(i) == square_ld(i)

4

## Lists

In [10]:
elems = list(range(10))
print(elems)
elems[1] = 102
print(elems[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 102, 0]

In [7]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [15]:
elems = list(range(10))
elems[1:2] = [20, 30]
print(elems)

[0, 20, 30, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
a = [1, 2, 3]
b = [4, 5]
a+b

[1, 2, 3, 4, 5]

In [27]:
a = [1, 2, 3]
b = [4, 5]
a.extend(b)

In [28]:
a

[1, 2, 3, 4, 5]

In [44]:
my_list = [50, "Twenty", 110, "Fifty", "Ten", 20, 10, 80, "Eighty"]
my_list[1:2]

['Twenty']

In [43]:
tokens = ['i', 'want', 'to', 'go', 'to', 'school']

def ngrams(tokens, n):
    length = len(tokens)
    grams = []
    for i in range(length - n + 1):
        grams.append(tokens[i:i+n])
    return grams

ngrams(tokens, 3)

[['i', 'want', 'to'],
 ['want', 'to', 'go'],
 ['to', 'go', 'to'],
 ['go', 'to', 'school']]

In [ ]:
# l1 = ["10","23","45"]
 
# printing the tuples in object directly
for count,ele in enumerate(l1):
    print (count,ele)
    
for i in range(len(l1)):
    print (l1[i])

# changing index and printing separately
for count,ele in enumerate(l1,100):
    print (count,ele)

## Maps

In [17]:

def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [18]:
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [29]:
def even_or_odd(num):
    if num%2==0:
        return "the numbers {} is even".format(num)
    else:
        return "the number {} is odd".format(num)

In [31]:
even_or_odd(25)

'the number 25 is odd'

In [34]:
dcs_list = [1,2,4,5,6,7,8,9]

In [35]:
map?

In [37]:
#uses lazy loading technique --- after converting to list it instantiates 
list(map(even_or_odd,dcs_list))

['the number 1 is odd',
 'the numbers 2 is even',
 'the numbers 4 is even',
 'the number 5 is odd',
 'the numbers 6 is even',
 'the number 7 is odd',
 'the numbers 8 is even',
 'the number 9 is odd']

## Filter, Map, Reduce

In [2]:
from functools import reduce

nums = [3,2,6,9,4,7,2,9]

#filter will take sequence
evens = list(filter(lambda n : n%2==0,nums))

print(evens)

[2, 6, 4, 2]

In [5]:
# ages = [5, 12, 17, 18, 24, 32]

# def myFunc(x):
#     if x < 18:
#         return False
#     else:
#         return True

# list(filter(myFunc, ages))

In [6]:
#Map is to change the values after applying operations (+2 , *2...etc)
doubles = list(map(lambda n : n*2,evens))
print(doubles)

#reduce(func,sequence) -- for example adding all values 
sum = reduce(lambda a,b : a+b,doubles)

print(sum)

[4, 12, 8, 4]
28

## Tuple

In [31]:
t = tuple(my_list)
t

(50, 'Twenty', 110, 'Fifty', 'Ten', 20, 10, 80, 'Eighty')

In [36]:
l = my_list
l.append(90)
l

[50, 'Twenty', 110, 'Fifty', 'Ten', 20, 10, 80, 'Eighty', 90, 90]

## Dictionary

In [16]:
A = { "name" : "Adam",
"age" : 30,
"designation" : "doctor",
"city" : "New York"}

In [37]:
A.keys()

dict_keys(['name', 'age', 'designation', 'city'])

In [38]:
A.values()

dict_values(['Adam', 30, 'doctor', 'New York'])

In [39]:
list(A)

['name', 'age', 'designation', 'city']

## Classes

In [41]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age
        species = "s"

In [42]:
class Model1:
    def __init__(self, hidden_size=100, num_layers=3, learning_rate=3e-4):
        print(locals())
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.learning_rate = learning_rate

model1 = Model1()

{'self': <__main__.Model1 object at 0x00000235322743C8>, 'hidden_size': 100, 'num_layers': 3, 'learning_rate': 0.0003}

## Variable

In [2]:
a=10
type(a)

int

In [3]:
a='Test'
type(a)

str

In [4]:
first_name = "chandra"
last_name = "padala"
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is chandra and last name is padala

In [5]:
my_str='Krish123'

In [6]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

In [7]:
lst=[1,2,3,4,5,6]

lst.extend([8,9])

lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [8]:
sum(lst)

38