In [1]:
nums = [1, 2, 4/5, 4/3, 5/3]
nums_squared = [num * num for num in nums]
print(nums_squared)

[1, 4, 0.6400000000000001, 1.7777777777777777, 2.777777777777778]

In [11]:
def square_fn(x):
    return x * x

square_ld = lambda x: x * x

print(square_fn(2))

for i in range(10):
    assert square_fn(i) == square_ld(i)

4

## Lists

In [10]:
elems = list(range(10))
print(elems)
elems[1] = 102
print(elems[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 102, 0]

In [7]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [15]:
elems = list(range(10))
elems[1:2] = [20, 30]
print(elems)

[0, 20, 30, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
a = [1, 2, 3]
b = [4, 5]
a+b

[1, 2, 3, 4, 5]

In [27]:
a = [1, 2, 3]
b = [4, 5]
a.extend(b)

In [28]:
a

[1, 2, 3, 4, 5]

In [44]:
my_list = [50, "Twenty", 110, "Fifty", "Ten", 20, 10, 80, "Eighty"]
my_list[1:2]

['Twenty']

In [43]:
tokens = ['i', 'want', 'to', 'go', 'to', 'school']

def ngrams(tokens, n):
    length = len(tokens)
    grams = []
    for i in range(length - n + 1):
        grams.append(tokens[i:i+n])
    return grams

ngrams(tokens, 3)

[['i', 'want', 'to'],
 ['want', 'to', 'go'],
 ['to', 'go', 'to'],
 ['go', 'to', 'school']]

## Tuple

In [31]:
t = tuple(my_list)
t

(50, 'Twenty', 110, 'Fifty', 'Ten', 20, 10, 80, 'Eighty')

In [36]:
l = my_list
l.append(90)
l

[50, 'Twenty', 110, 'Fifty', 'Ten', 20, 10, 80, 'Eighty', 90, 90]

## Dictionary

In [16]:
A = { "name" : "Adam",
"age" : 30,
"designation" : "doctor",
"city" : "New York"}

In [37]:
A.keys()

dict_keys(['name', 'age', 'designation', 'city'])

In [38]:
A.values()

dict_values(['Adam', 30, 'doctor', 'New York'])

In [39]:
list(A)

['name', 'age', 'designation', 'city']

## Classes

In [41]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age
        species = "s"

In [42]:
class Model1:
    def __init__(self, hidden_size=100, num_layers=3, learning_rate=3e-4):
        print(locals())
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.learning_rate = learning_rate

model1 = Model1()

{'self': <__main__.Model1 object at 0x00000235322743C8>, 'hidden_size': 100, 'num_layers': 3, 'learning_rate': 0.0003}